#main {
    width: 65%;
    margin-top: 2.5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px 1px 5px 9px rgba(0,0,0,0.25);
}

#in-main {
    display: table;
    margin: 0 auto;
    /*
    margin-left: 10%;
    margin-right: 10%;
*/
}

.edit-button {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

#title-names {
    text-align: center;
}

.add-dog-container {
    padding-left: 10%;
    padding-right: 10%;
}

.container {
    padding-left: 10%;
    padding-right: auto;
}

.portfolio-container {
    margin-top: 10px;
    padding-left: 5%;
    padding-right: auto;
}


.center-box {
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

.add-dog {
    padding: 0 50px;
}

#dog-btn1 {
/*    margin: auto;*/
}
#dog-btn2 {
    margin-left: 30%;
}
#dog-btn3 {
    margin-left: 29%;
}

.dog-profile-pics {
    margin: 10px 5px;
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
}

.dog-pic-group {
    margin: 10px 5px;
    width: 175px;
    height: 175px;
    object-fit: cover;
}

.dog-pictures {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; 
/*    display: block;*/
    margin-left: 5%;
    margin-right: 5%;
}

/*#centered-picture {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
}*/

.paragraph-headline {
    width: 30%;
    margin: 0 auto;
}

.user-profile-paragraph {
    text-align: center;
    
    
}